.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.LayoutPlayList{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-header {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

